@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn-svelte/tailwind.css";
@import "@fontsource-variable/inter";
@plugin "@tailwindcss/typography";
/* Khai báo theme cho Tailwind v4 nhận diện class border-border, bg-background,... */
@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --font-sans: 'Inter Variable', sans-serif;
}

/* Áp dụng CSS mặc định cho toàn hệ thống */
@layer base {
  * {
    @apply border-border;
    outline-color: hsl(var(--ring) / 0.5);
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}